<nav class="navBar">
  <a href="{{site.baseurl}}/index.html" class="signature">Sergio Garrido</a>
  <!-- <a href="{{site.baseurl}}/index.html"><img class="signature" src="{{site.baseurl}}/assets/signature.png"/></a> -->
  <ul>
    <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
    <li><a href="{{site.baseurl}}/index.html">About</a></li>
    <div class="navbar-icons">
      <li><a href="https://www.linkedin.com/in/sergio-garrido-ml/"><img class="icon" src="{{site.baseurl}}/assets/linkedin.png" /></a></li>
      <li><a href="https://github.com/Chechgm"><img  class="icon"src="{{site.baseurl}}/assets/git.png" /></a></li>
      <li><a href="{{site.baseurl}}/feed.xml"><img class="icon" src="{{site.baseurl}}/assets/rss.png" /></a></li>
    </div>
  </ul>
</nav>
