<!DOCTYPE html>
<html>
<head>
  <!--- Title --->
  <title> {{page.title}} </title>
  <!---Fonts--->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat" rel="stylesheet">
  <!---  Styles  --->
  <link rel="stylesheet" href="{{site.baseurl}}/styles/style.css">
  <!--- RSS feed meta --->
  {% feed_meta %}
  <!--- SEO tags --->
  {% seo %}
</head>


<body>

  {% include navBar.html %}

  <main>

	{{ content }}

  </main>

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
