---
layout: default
---
<head>
  <!---Potentially change for links--->
  <title>{{ page.title }}</title>
  <!---Fonts--->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat" rel="stylesheet">
  <!--  Styles  -->
  <link rel="stylesheet" href="styles/style.processed.css">
</head>

<div class=blogViewGrid>
  <div>
    <h1> {{ post.title }} </h1>
      <p class="text">
        {{ post.date }}
      </p>
      <p class="summary">
          {{ post.excerpt }}
      </p>
  </div>
  
  </div>
    <img class="blogImg" src="{{ post.img_link }}" alt="">
  </div>

   <div class="text-holder">
    {{ content }}
   </div>

</div>
