/*
Main parts of the webpage
*/
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  margin: 0px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
}

.text-holder {
  text-align: left;
  padding: 0px 20vw 0px 20vw;
}

.text-holder a{
  color: #85929E;
}

.icon {
  width: 25px;
  height: auto;
}

footer {
  bottom: 0px; /* added */
  width: 100%; /* added */
}

table {
  align: center;
}

/*
Navigation bar (uses flexbox)
*/

.navBar {
  display: flex;
  height: 30px;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  padding: 10px;
  margin-bottom: 40px;
}

.navBar .signature {
  display: inline-block;
  text-align: center;
  padding-left: 5vw;
}

.navBar ul {
  list-style: none;
  padding-right: 4vw;
  margin: 0;
}

.navBar li {
  display: inline;
}

.navBar li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: #FFFFFF;
}

.navBar li a:focus {
  outline: none;
}

.signature {
  height: 60px;
  width: auto;
  padding-top: 15px;
}

/*
About specifics
*/
.portrait-holder {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 320px;
  height: auto;
  text-align: center;
}

.portrait-holder img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/*
Blog specifics
*/

/*
Blog grid, uses grid
*/

.blogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px 30px;
  margin: 20px 20px 20px 20px;
  justify-items: center;
}

.square {
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 5px 5px 5px 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(25, 25, 25, 0.2);
  border-radius: 6px;
}

.square:hover {
  cursor: pointer;
}

/*
Blog images
*/

.blogImg {
  background-color: white;
  display: block;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: opacity 0.3s ease-in-out;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.blogImg-wrap {
  border-top-right-radius: 6.9px;
  border-top-left-radius: 6.9px;
  background-color: black;
}

.blogImg:hover {
  opacity: 0.9;
}

.blogLink {
  color: #000000;
  text-decoration: none;
}

/*
Blog Table specifics
*/
th {
  background-color: #191919;
  color: #ffffff;
  padding: 5px;
}

td {
  padding: 5px;
}

table tr:nth-child(even) {
  background: #F8F8F9;/*#efefef;*/
}

/*
Blog View specifics
*/
.blogViewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px 40px 20px;
  justify-items: center;
  align-items: center;
}

.summary {
  font-style: italic;
  padding: 0 10vw 0 10vw;
  line-height: 1;
}

.blogViewImg {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}

figcaption {
  font-size: 80%;
  font-style: italic;
}
